@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-background text-on-surface min-h-screen font-body-md;
    font-family: 'Nunito', sans-serif;
  }
  
  *, *::before, *::after {
    font-family: 'Nunito', sans-serif;
  }
}

/* Material Symbols configuration */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
}

.font-comfortaa {
  font-family: 'Comfortaa', sans-serif !important;
}
